{% extends "base.html" %}

{% block content %}
    <div class="content">
        <div class="news">
            <h3 class="article_header">Актуально</h3>
        </div>
        {% for a in actual %}
        <div class="current_news">
            <img width="75" src="{{ a.media_path }}">
            <h5 class="article_left_news"><a href="/actual/{{ a.id }}/">{{ a.title }}</a></h5>
            <div class="data">{{ a.publish|date:"d E Yг." }}</div>
            <p>{{ a.intro|safe }}</p>
        </div>
        {% endfor %}

        <div style="clear:both;"></div>
    </div>
{% endblock %}