<!DOCTYPE html>
<html>
<head>
    <title>Новости российских университетов</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
    {% block css %}{% endblock %}
</head>
<body>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span9">
            <a href="/"><div class="header"><img src="{{ STATIC_URL }}img/header.png"></div></a>
        </div>
        <div class="span3">
            <div class="num_rooms">
                <h1>1(1)</h1>
                <h2>19 февраля 2013</h2>
            </div>
        </div>
    </div>
    <div class="row-fluid ">
        <div class="span12">
            <div class="separator"></div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row-fluid navigation">
        <div class="span12">
            <nav class="navbar-inner">
                <div class="navbar">
                    <div class="navbar-inner">
                        <div class="container">
                            <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar" type="button">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div class="nav-collapse collapse" style="height: 0;">
                                <ul class="nav">
                                    <li><a href="/about/">О проекте</a></li>
                                    <li><a href="/gallery/">Фотогалерея</a></li>
                                    <li><a href="/archive/">Архив</a></li>
                                    <li><a href="/partners/">Партнёры</a></li>
                                    <li><a href="/contacts/">Контактная информация</a></li>
                                </ul>
                            </div><!--/.nav-collapse -->
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span9">
            {% block content %}{% endblock %}
        </div>
        <div class="span3">
            <div class="current">
                <div class="title_current_news">Актуально</div>
                <div class="content_current_news">
                    {% for a in actual %}
                        <div class="current_news">
                            <img src="{{ a.media_path }}">
                            <h5 class="article_left_news"><a href="/actual/{{ a.id }}/">{{ a.title }}</a></h5>
                            <div class="data">{{ a.publish|date:"d E Yг." }}</div>
                            <p>{{ a.intro|safe }}</p>
                        </div>
                    {% endfor %}
                    <p style="text-align:right; margin:0;"><a href="#">Архив</a></p>

                </div>
            </div>
            <div class="bottom_news">
                <div class="title_bottom_news">Новости</div>
                <div class="content_bottom_news">
                    <div class="number_news">
                        <img src="img/small_img.png">
                        <h5 class="article_left_news"><a href="#">? ????  ?????? ????  ??????????!</a></h5>
                        <div class="data">2013-07-02</div>
                        <p>2 ???? ??????????? ?????????????? ? ??????? ???????? ????????? ????????? ??????????, ??????????? ? ???????????? ????? (??????, ?????).
                        </p>
                    </div>
                    <div class="number_news">
                        <h5 class="article_left_news"><a href="#">? ????  ?????? ????  ??????????!</a></h5>
                        <div class="data">2013-07-02</div>
                        <p>2 ???? ??????????? ?????????????? ? ??????? ???????? ????????? ????????? ??????????, ??????????? ? ???????????? ????? (??????, ?????).
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <div id="myCarousel"class="carousel slide">
                <div class="carousel-inner">
                    <div style="text-align: center;" class="active item">
                        <img src="{{ STATIC_URL }}img/img_banner/banner1.png">
                        <img src="{{ STATIC_URL }}img/img_banner/banner2.png">
                        <img src="{{ STATIC_URL }}img/img_banner/banner3.png">
                        <img src="{{ STATIC_URL }}img/img_banner/banner4.png">
                        <div style="clear:both;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="footer_copyright">Copyright © НОВОСТИ российских университетов, 2013</div>
            <div class="footer_editor">
                <div class="editor">
                    Главный редактор: <strong>Дмитрий Хохлов</strong><br />
                    Ответственный секретарь: <strong>Ольга Николаева</strong><br />
                    Верстка: <strong>Лилия Багаутдинова</strong><br />
                    Тираж 2000 экз.
                </div>
                <div class="info">
                    Учредитель — ХОХЛОВ Дмитрий Геннадьевич.
                    Адрес редакции: 432049 г. Ульяновск, ул. Аблукова,105.
                    Тел. 75-55-62. Адрес электронной почты <a href="mailto:univernews@mail.ru">univernews@mail.ru</a>.
                    Свидетельство о регистрации СМИ ПИ №ФС77-53112 от 7 марта 2013 года. Выдано Федеральной службой по надзору в сфере связи, информационных технологий и массовых коммуникаций.
                    Газета отпечатана в ОАО «ДИМИТРОВГРАДСКАЯ ТИПОГРАФИЯ». Адрес: 433504, Ульяновская область, г. Димитровград,
                    ул. Юнг Северного Флота, д. 107. Подписано в печать 17.05 в 19.00.
                </div>
            </div>
        </div>
    </div>
</div>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
{% block js %}{% endblock %}
</body>
</html>