{% extends "base.html" %}

{% block content %}
    <div class="content">
        {% for a in articles %}
            {% if forloop.counter == 1 %}
                <div class="news">
                    <h3 class="article_header"><a href="/article/{{ a.id }}/">{{ a.title }}</a></h3>
                    {{ a.intro|safe }}
                </div>
            {% else %}
                <div class="news">
                    <h4 class="article_news"><a href="/article/{{ a.id }}/">{{ a.title }}</a></h4>
                    {{ a.intro|safe }}
                </div>
            {% endif %}
        {% endfor %}
        <div style="clear:both;"></div>
    </div>
{% endblock %}